<app-nuevo-registro></app-nuevo-registro>
<h1>Registros</h1>
<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="all_registros">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
    </ng-container>

    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef>Monto</th>
      <td mat-cell *matCellDef="let element">{{ element.monto }}</td>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Accion
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <button
          mat-flat-button
          color="green"
          style="height: 55px; margin-left: 10px"
          (click)="openDialog(element)"
        >
          Editar
        </button>
        <button
          mat-flat-button
          color="warn"
          style="height: 55px; margin-left: 10px"
          (click)="deleteRegistros(element)"
        >
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</section>
